body {
  text-align: center;
  font-size: 36px;
  font-family: 'Trebuchet', 'Trebuchet MS', Arial, sans-serif;
  color: white;
  background-image: url('catastronauts.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #171717;
  margin: 0;
}
.name {
  font-size: 48px;
  margin-bottom: 20px;
}
.city {
margin-top: 15px;
font-size: 24px;
}
.title {
  margin: 7% 0% 5%;
}
.links {
  font-size: 30px;
  text-align: center;
  width: auto;
}

.quote {
  font-size: 24px;  
  color: lightskyblue;
}
a:link,a:visited {
  text-decoration: none;
  color: darkgray;
}
html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {
  overflow:auto;
  padding-bottom: 150px;  /* must be same height as the footer */
}  

#footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: initial;
  clear:both;
} 
